body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://i.pinimg.com/originals/b8/00/87/b800878ec9ca72ed7f4ebe64e4aa1832.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #listaLivros img {
    margin: 10px;
    max-height: 250px;
  }
  
  .form-wrapper {
    margin: 0 0 15px;
  }
  
  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
  }
  
  .form-wrapper button {
    border: 0;
    color: #fff;
    background: rgba(120, 51, 51);
    border: 2px solid #FFFFFF;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .form-wrapper input {
    border: 0;
    color: #fff;
    background: rgba(120, 51, 51, 0.9);
    border: 2px solid #FFFFFF;
    font-weight: bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 33px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    text-align: center;
  }
  .form-wrapper input::placeholder{
    color: #fff;
  }
  
  .form-wrapper button:hover {
    opacity: 0.8;
  }
  